:root {
    --linkColor: black;
}

body {
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bioMain {
    text-indent:40px;
    border: 1px solid black;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
}
.boxLandingPage {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 20px 60px 0px 60px;

    border: 1px solid black;
    background-color: white;
}
.boxBio, .boxContact {
    width: 80vw;
    min-height: 90vh;
    margin: 30px auto;
}

#parentEl {
    margin-top: 50px;
}

.boxProj{
    width: 80vw;
    min-height: 90vh;
    margin: 30px auto;
}

header {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0px auto    ;
    text-align: center;
    background-color: white;
    width: fit-content;
    padding: 20px 0px 0px 0px;
}
#subHeading {
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block; 
    width: fit-content;
    padding: 0px 0px 0px 0px;
    margin: 20px auto 15px auto;
    background-color: white;
    width: fit-content;
}

nav {
    font-size: 1.5em;
    margin: 0px auto 0px auto;
    text-align: center;
    background-color: white;
}

nav a {
    /* text-indent: 0px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    /* background-color: rgb(243, 255, 255); */
    /* border-radius: 15px; */
    padding: 1px 7px;
    margin: 15px 15px 0px 15px;
    border: 1px solid black;
    display: inline-block;
    width: 7em;
}

nav a:hover {
    color: white;
    background-color: rgb(0, 0, 128);
}

@media (min-width: 756px) {
    .oneProject {
        display: flex;
        flex-direction: row;
        margin: 20px 100px 50px 100px;
    }
}
@media (max-width: 755px) {
    .oneProject {
        display: flex;
        flex-direction: column;
        margin: 100px auto;
    }

    .imgLink{
        text-align: center;
    }
}
.oneProject {
    border: 1px solid rgb(199, 199, 199);
    background-color: white;
    padding: 11px;
    box-shadow: 5px 5px 5px black;
    min-width: 163px;
}

.projectThumbnail {
    background-color: rgb(243, 243, 243);
    margin-right: 10px;
    width:fit-content;
    height:fit-content;
}

.projectTitle {
    color: var(--linkColor);
    vertical-align: top;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.projectDate {
    display: inline-block;
    margin-top: 5px;
}

.projectSummary {
    display: inline-block;
    margin-top: 15px;
    font-size: 1em;
}

.projectSkills {
    display: inline-block;
    margin-top: 15px;
}

.wrapperForText {

}

.highlighted {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 128);
    border: 2px solid rgb(0,255,255);
}


#resumeMain{
    height: 90vh;
}
.pdfResumeBox {
    /* width: 80vw; */
    /* max-height: 100vh; */
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 30px auto 30px auto;
}

.dropShadow711 {
    box-shadow: 7px 7px 7px black, 11px 11px 16px black;
}
